<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>게시글</title>
    <div class="logo"><img th:src="@{/css/logo.png}"></div>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
    <div th:replace="/fragments/nav::main-nav"></div>
</head>
<body>
<section>
<div class="post-wrapper">
    <div class="post-container">
        <table class="post-table">
            <thead>
            <tr>
                <th scope="col" class="th-num">번호</th>
                <th scope="col" class="th-title">제목</th>
                <th scope="col" class="th-date">작성 날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post:${post}">
                <td th:text="${post.id}"></td>
                <th>
                    <a th:text="${post.title}" th:href="@{/post/{id}(id=${post.id})}"></a>
                </th>
                <td th:text="${post.createdAt}"></td>
            </tr>
            </tbody>
        </table>
        <button sec:authorize="isAuthenticated()" th:onclick="|location.href='@{/post/write}'|" > 글 쓰기 </button>
    </div>
</div>
</section>

</body>
<footer th:replace="/fragments/footer::main-footer"></footer>

</html>