body {
    width: 100%;
    height: 100%;
}

h1 {
    color:pink;
}

header {
    background: aquamarine;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: yellowgreen;
    padding: 8px 12px;
    align-items: center;
}
.navbar_menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.navbar_menu li {
    padding: 8px 30px;
}
.navbar_menu a {
    text-decoration: none;
    color: white;
}
.box {
    display: flex;
    flex-direction: column;
    gap: 5px 0px;
    width: 200px;
    height: 70px;
    padding: 15px 20px;
    border: 3px yellowgreen;
    margin: 10px 10px 10px 10px;
    background: yellowgreen;
    float: right;
    list-style: none;
}
.box a {
    color: white;
    text-decoration: none;
    font-size: 11px;
}
.box button {
    border: 0;
    outline: 0;
    background: green;
    color: white;
    width: 100%;
    height: 75%;
    font-weight: bold;
    padding: 10px 5px;
    text-align: center;
}
.box li{
    font-weight: bold;
}
body{
    background: white;
}
.footer {
    width: 100%;
    height: 110px; /* 내용물에 따라 알맞는 값 설정 */
    bottom: 0px;
    position: absolute;
    border-top: solid 1px green;
}
.logo {
    text-align: center;
}


/*  게시판  */

.post-wrapper {
    margin-top: 10px;
    border-top: solid 1px green;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-container {
    width: 60%;
    padding: 20px 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px 10px
}

.content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.content{

    margin-top:10px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.sidebar {
    margin-top:10px;
    width: 10%;
    align-self: center;
}
