<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:replace="fragments/nav::main-nav"></div>
<div class="box">

    <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인 </a>
    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a> </br>
    <a th:href = "@{/register}"> 회원가입 </a>
</div>

</body>
</html>